@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Roboto+Slab&display=swap');

:root {
    font-family: League Spartan, Roboto Slab;
}

a:link {
    text-decoration: none;
}

a:visited { 
    text-decoration:none;
    color: black;
   }

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.header, .herocontainer, .footer {
    background-color: #1F2937;
    color: white;
}

h1, h2 {
    color: #F9FAF8
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.headertext {
    font-size: 18px;
    color: #E5E7EB;
}

h2 {
    font-size: 24px;
}

button, .signupbox {
    background-color: #3882F6;
    color: white;
}

.skillsheader {
    font-size: 36px;
    font-weight: bolder;
}

.skillsheader, .quotetext {
    color: #1F2937;
}

.quotes {
    background-color: #E5E7EB;
}

.quotetext {
    font-size: 36px;
    font-style: italic;
}

.headshot {
    width: 250px;
    height: auto;
}

.portfolioPNG {
    width: 150px;
    height: auto;
    border: 1px solid #1F2937;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1;
}

.headertext {
    display: flex;
    gap: 36px;
    text-decoration: none;
    list-style: none;
}

.herocontainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.herotext {
    display: flex;
    flex: 0 1 0;
    gap: 8px;
    padding: 72px 36px;
    min-width: 400px;
    flex-wrap: wrap;
}

.heroimage {
    padding: 72px 36px;
    flex: 0 2 0;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 18px 18px;
}

.skillslinks {
    display: flex;
    justify-content: center;
    gap: 52px;
    padding: 0px 72px;
}

.info {
    display: flex;
    max-width: 150px;
    padding: 36px 0px;
    justify-content: center;
}

.quotes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 18px 18px;
}

.quotetext {
    align-content: center;
    flex-wrap: wrap;
    padding: 0px 250px;
}

.quotesource {
    display: flex;
    justify-content: flex-end;
    padding: 0px 500px;
}

.subhero {
    display: flex;
    flex-direction: column;
    padding: 36px 72px;
}

.signupbox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 6px;
    border-radius: 20px;
}

.contacttext {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    padding: 16px;
    margin: 0;
    border: 0;
}

.contactbutton {
    padding:  16px 16px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 16px 16px;
}

.footerText {
    font-size: 16px;
}

button {
    flex-grow: 0;
    border-radius: 6px;
    padding: 4px 24px;
    border: none;
}

.button2 {
    border: 2px solid white;
    padding: 6px 30px;
}